<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>
        <%=title %>
      </h1>
      <p>
        <%=subTitle %>
      </p>
      <p>
        <% console.log(isSignedIn) %>
        <a class="btn btn-primary btn-large" href="<%= url %>"><%= data %></a>
      </p>
    </div>
  </header>
</div>
